name: Test

on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: "${{ matrix.on }}"
    strategy:
      matrix:
        # Use macos-13 to run on osx-64
        on: ["macos-13", "macos-14", "ubuntu-24.04"]
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.0
      - name: Run Doctests
        run: |
          pixi run test
